@import "tailwindcss";

:root {
  font-family: "Karla", Lato, Poppins, Helvetica, Arial, sans-serif;
  /* line-height: 1.2; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Alpino";
  src: url("/font/Alpino.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chillax";
  src: url("/font/Chillax.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Vollkorn", serif;
  font-style: italic;
}
.hero-name {
  font-family: "Alpino", Poppins, Helvetica, Arial, sans-serif;
  font-weight: 800;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

.blinking-cursor {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.name-container {
  height: calc(100vh - 90px);
}
@media screen and (max-width: 768px) {
  .name-container {
    height: calc(100vh - 100px);
  }
}

.navbar-container {
  opacity: 0;
  animation: slideDown 1s forwards;
  animation-delay: 2s;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero-text-left {
  opacity: 0;
  animation: slideInLeft 1s forwards;
  animation-delay: 2.5s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#hero-text-right {
  opacity: 0;
  animation: slideInRight 1s forwards;
  animation-delay: 2.5s;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Skill section animations */
.skill-section {
  animation: scrollToLeft 30s linear infinite;
}
.skill-section:hover {
  animation-play-state: paused;
}
@keyframes scrollToLeft {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Infinite scroll mask gradient for smooth edges */
.mask-gradient {
  position: relative;
}

.mask-gradient::before,
.mask-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 150px;
  z-index: 10;
  pointer-events: none;
}

.mask-gradient::before {
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}

.mask-gradient::after {
  right: 0;
  background: linear-gradient(to left, #000, transparent);
}
@media (max-width: 764px) {
  .mask-gradient::before,
  .mask-gradient::after {
    width: 50px;
  }
}

/* Loading Screen Animations */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
